.modal_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 9999;

    .modal {
        width: 25rem;
        height: 28rem;
        background-color: white;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cross {
            align-self: flex-end;
            cursor: pointer;
        }

        .modal_body_container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 65%;
            h3 {
                color: rgba(128, 128, 128, 0.413);
            }
            .pay_container {
                display: flex;
                padding: 10px;
                border-radius: 5px;
                border: 2px solid #fe0a8736;
                justify-content: space-between;
                div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    label {
                        font-size: 13px;
                        font-weight: 600;
                        color: rgba(128, 128, 128, 0.413);
                    }
                    input {
                        outline: none;
                        border: none;
                        border-bottom: 1px dotted rgba(128, 128, 128, 0.413);
                    }
                    
                }
                select {
                    width: 50%;
                    border: none;
                    outline: none;
                }
            }
            .rate {
                padding-left: 1rem;
                color: #fe0a87;
                font-size: 16px;
                font-weight: 800;
                display: flex;
                align-items: center;
                & span:first-child {
                    display: flex;
                    align-items: center;
                    margin-right: 0.5rem;
                }
            }
            .receive_container {
                display: flex;
                padding: 10px;
                border-radius: 5px;
                border: 2px solid #fe0a8736;
                justify-content: space-between;
                div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    & span:first-child {
                        font-size: 13px;
                        font-weight: 600;
                        color: rgba(128, 128, 128, 0.413);
                    }
                    & span:last-child {
                        font-weight: 600;
                        color: #fe0a879e;
                        padding-left: 1rem;
                    }
                    
                }
                span {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                    font-weight: bold;
                }
            }
        }
        button {
            border: none;
            background-color: #fe0a87;
            transition: 250ms;
            border-radius: 4px;
            color: white;
            font-weight: 800;
            font-size: 1rem;
            cursor: pointer;
            align-self: flex-end;
            width: 7rem;
            padding: 0.7rem;
            &:hover {
                background-color: #fe0a88be;
                transition: 250ms;
            }
        }
        .disable {
            transition: 250ms;
            background-color: #fe0a8872;
            cursor: not-allowed;
        }
        .enable {
            transition: 250ms;
            background-color: #fe0a87;
        }
        .isDone {
            cursor: not-allowed;
            transition: 250ms;
            background-color: darkgreen;
        }
        .isError {
            cursor: not-allowed;
            transition: 250ms;
            background-color:  crimson;
        }
    }
}